{% extends '::base.html.twig' %}

{% block main_content %}
       <script type="text/javascript">
  
       {# counters of completed ajax request completed, per container (key) #}
       var counter_array = [ ];

        
        {# Setup an accordion in a container when all the articles ajax request have completed #}
        function prepare_accordion(container_id, count_articles)
        {
            counter_array[container_id]++;
            {# only prepare the accordion when all articles are loaded #}
            if (counter_array[container_id] === count_articles)
            {  
            
                {# On click any h3 first container child element within the container #}
                $(container_id +' > h3').click(function(e) {
                    {# Close all <div> but the <div> right after the clicked h3 #}
                    $(e.target).next('div').siblings('div').slideUp();
                    {# Toggle open/close on the <div> after the h3, opening it if not open #}
                    $(e.target).next('div').slideToggle();                    
                });
                {# Close all the divs below's the title, and open the whole container when it's done #}
                $(container_id + " > h3:first-child").siblings('div').slideUp( 'fast', function() {
                    $( container_id ).show( );
                  });
            }
        }


        {# Returns ajax plain html for this post #}
         function ajax_article_load(postid, place_holder, count_articles)
         {
            $.ajax({
               url : {{ajax_article_load_url|raw}}, {# The full string of the url, including "'" is provided by the controller #}
               type : 'GET',
               dataType : 'html', // On désire recevoir du HTML
               success : function(code_html, statut)
               { // code_html contient le HTML renvoyé
                  $(place_holder).append(code_html);
               },
               complete : function()       
               {
                  {# prepare_accordion is called each time, but the accordion is really prepared only when all the ajax requests have been sent #}
                  prepare_accordion(place_holder, count_articles);
               }
            }); 
         }
         
         $(function() {
             $( '#post_accordion_alaune' ).hide();             
             counter_array['#post_accordion_alaune'] = 0;
             $.each({{articles_alaune_array}}, function(index, value) {
                ajax_article_load(value, '#post_accordion_alaune',{{articles_alaune_array}}.length);
             });

            $( '#post_accordion_articles' ).hide();             
            counter_array['#post_accordion_articles'] = 0;
             $.each({{articles_array}}, function(index, value) {
  
                ajax_article_load(value, '#post_accordion_articles',{{articles_array}}.length);
             });
             
             $("a#newevent").on("click", function(){
                $("#popup_new_event").show();
                $("#page_opacity_mask").show();
                
            });
            
            {% if (event is defined) and (eventform is defined) %}
                {% include 'CptEventBundle:Event:new.html.twig' with {'event' : event, 'eventform' : eventform } %}
            {% else %}
                $("#popup_new_event").hide();
                $("#popup_new_event").load("{{ url('event_new')}}");
            {% endif %}

            $("#event_calendar").load("{{ url('event_view_calendar')}}");

          });
          

        </script>
        <div class="row-fluid">
            <div class="span6">
                <div class="main_section">        
                    <h2>&Eacute;vénements</h2>
                     {# Popup to load with pages (ex: create event, create article #}
                     <a id="newevent" href="#">Nouveau</a>
                     <div id="event_calendar">
                     </div>
                </div>
            </div>

            <div class="span6">              
                <div class="main_section">        
                    <h2>Articles<span class="span3 pull-right"><a href="{{ path('sonata_news_archive') }}" class="btn btn-primary btn-large">Voir tous les articles</a></span></h2>
                    <div id="post_accordion_alaune">
                        {# preview_post.html.twig => loaded and appened by ajax request #}
                     </div>
                    <div id="post_accordion_articles">
                        {# preview_post.html.twig => loaded and appened by ajax request #}
                     </div>
                </div>
            </div>
        </div>
        
        {# popup for creating new articles, evt etc. #}
        <div id="popup_new_event">
            {# external content to be loaded here #}
        </div>
        {# to change opacity of the page #}
        <div id="page_opacity_mask"> 
        </div>
        
{% endblock %}