{# empty Twig template #}
 <script type="text/javascript">
var PAGE_EVENT = 0;
var PAGE_ABOUT = 1;
var PAGE_REGISTER = 2;
var PAGE_PROFILE_VIEW = 3;
var PAGE_EDIT_EVENT = 4;
var PAGE_ARTICLE_NEW = 5;
var PAGE_ARTICLE_LIST = 6;
var PAGE_ARTICLE_EDIT = 7;
var PAGE_ARTICLE_VIEW = 8;
var PAGE_EVENT_VIEW = 9;
{#***********************************************#}
{# Affiche un message informatif à l'utilisateur
{#***********************************************#}
function show_event_usermessage(message)
{
    $('#event_user_messages').html(message);
    $('#event_user_messages').show().delay(EVENT_MESSAGE_SLIDE_UP_DELAY).slideUp(1000);
}
{# ************************************************************************************************************************ #} 
{# Set the html of the left column button (back, new event etc.)
{# ************************************************************************************************************************ #} 
function SetLeftcolButton(html){
    $('#leftcol_button').html(html);
}

function SetRightcolButton(html){
    $('#rightcol_button').html(html);
}

{# ************************************************************************************************************************ #} 
{# Shows a page (event, about, register, profile) in the left column
{# Parameters: page: the page type
{# id: additional id parameters (ex: profile user id)
{#************************************************************************************************************************ #}      
function ShowPage(page_type, page_id)
{
    if (page_type === PAGE_EVENT){
        $('#leftcol_event').show();
        $('#leftcol_registration').hide();
        $('#leftcol_about').hide();
        $('#edit_event').hide();
        $('#display_events').show();
         
        $('#column_title_event_title').html('{{'main.title.events'|trans}}');
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        SetLeftcolButton("<a id='newevent' class='event_new_btn'>{{'main.button.new'|trans}}</a>"); {# New Event button #}
        $("a#newevent").on("click", function(){ShowPage(PAGE_EDIT_EVENT)});
        {% else %}
        SetLeftcolButton(""); {# user is not logged in => there is no button here #}
        {% endif %}
    } else if (page_type === PAGE_ABOUT) {
        $('#leftcol_event').hide();
        $('#leftcol_registration').hide();
        $('#leftcol_about').show();
        $('#column_title_event_title').html('{{'main.title.chantpourtous'|trans}}');
        SetLeftcolButton("<a class='event_new_btn' onclick='InitArticlesColumn();ShowPage(PAGE_EVENT);'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
        SetRightcolButton("<a class='article_new_btn' onclick='ShowPage(PAGE_ARTICLE_LIST);InitArticlesColumn();'>{{'main.button.back'|trans}}</a>"); 
        showAboutPage();
    } else if (page_type === PAGE_REGISTER) {
        $('#leftcol_event').hide();
        $('#leftcol_registration').show();
        $('#column_title_event_title').html("{{'main.title.register'|trans}}");
       SetLeftcolButton("<a class='event_new_btn' onclick='ShowPage(PAGE_EVENT);'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
    } else if (page_type === PAGE_PROFILE_VIEW) {
        $('#leftcol_event').hide();
        $('#leftcol_registration').hide();
        $('#leftcol_about').show();
        $('#column_title_event_title').html("{{'main.title.profile'|trans}}");
        SetLeftcolButton("<a class='event_new_btn' onclick='ShowPage(PAGE_EVENT);'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
        showProfilePage(page_id);
    } else if (page_type === PAGE_EDIT_EVENT){
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}        
        $('#leftcol_registration').hide();
        $('#leftcol_event').show();

         $('#edit_event').show();
         $('#display_events').hide();

         $('#column_title_event_title').html('{{'main.title.events_edit'|trans}}');
         if (!page_id){
             page_id = -1;
         }
        manage_event(page_id);
        //etLeftcolButton("<a  class='btn_blue' onclick='DisplayEventEditPanel(false);'>{{'event.button.backtoevent'|trans}}</a>");
        SetLeftcolButton("<a id='close_edit_event' class='event_new_btn' onclick='ShowPage(PAGE_EVENT);'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
        {% endif %}
    } else if (page_type === PAGE_EVENT_VIEW){
        ShowSingleEvent(page_id);
        $('#leftcol_event').show();
        $('#leftcol_registration').hide();
        $('#leftcol_about').hide();
        SetLeftcolButton("<a class='event_new_btn' onclick='ShowAllEvents();'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
    } else if (page_type === PAGE_ARTICLE_NEW){
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                
        SetRightcolButton("<a class='article_new_btn' onclick='ShowPage(PAGE_ARTICLE_LIST);'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
        EditPost(-1);
        {% endif %}
    } else if (page_type === PAGE_ARTICLE_LIST){
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        SetRightcolButton("<a class='article_new_btn' onclick='ShowPage(PAGE_ARTICLE_NEW);'>{{'main.button.new'|trans}}</a>");
        {% else %}
        SetRightcolButton("");
        {% endif %}
        ArticleEditDisplay(false);
    } else if (page_type === PAGE_ARTICLE_EDIT){
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                
        SetRightcolButton("<a class='article_new_btn' onclick='ShowPage(PAGE_ARTICLE_LIST);'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
        EditPost(page_id);
        {% endif %}
    } else if (page_type === PAGE_ARTICLE_VIEW){
        displaySingleArticleById(page_id);
        SetRightcolButton("<a class='article_new_btn' onclick='ShowPage(PAGE_ARTICLE_LIST);InitArticlesColumn();'>{{'main.button.back'|trans}}</a>"); {# set the left column button to go back to PAGE_EVENT #}
    }
}

function showAboutPage()
{
    $.get( Routing.generate('cpt_main_about', {_locale:_locale}), function(response){
             $('#leftcol_about').html( response );
     });
}

function showProfilePage(userid)
{
    $.get( Routing.generate('cpt_main_userprofile_show', {_locale:_locale,userid:userid}), function(response){
         $('#leftcol_about').html( response );
     });
}


{# ************************************************************************************************************************ #} 
{# OnLoad
{#************************************************************************************************************************ #}      
 $(function() {
    ShowPage(PAGE_EVENT);
    ShowPage(PAGE_ARTICLE_LIST);
});
          
</script>