<script type="text/javascript">
var ARTICLE_MESSAGE_SLIDE_UP_DELAY = {{ cpt_notice_slideupdelay }};

var post_list = [ ];    {# the actual post list (retreived from ajax request #}
var post_pager = [ ];   {# data used to paginate the post list (retreived from ajax request) #}
var pagination_currentpage = 1;
var pagination_currentfirstshown = 1;
var pagination_lastpage = 1;
var pagination_maxlinks = 1;
var alaune_opened_article_id = -1; {# id of the alaune article to be opened by default #}
var filter_myarticles = false;                    {# 0 => display all articles, 1 => display only my articles #}
var article_permalink = "{{ article_permalink|default(null) is null ? null : article_permalink }}";
count_article_loaded = 0;

{#***********************************************#}
{# Affiche un message informatif à l'utilisateur
{#***********************************************#}
function show_article_usermessage(message)
{
    $('#article_user_messages').html(message);
    $('#article_user_messages').show().delay(ARTICLE_MESSAGE_SLIDE_UP_DELAY).slideUp(1000);
}

{#****************************************************************************#}
{# Show or hide an article
{#****************************************************************************#}
function toogle_article(id,speed,opendefault)
{
    {# closing an article => all article get closed #}
    {# opening an article => only this article gets open #}
     visible = $("#post_body"+id).is(":visible");
        
        if ((!visible)&&(opendefault))
        {
            $( "#comment_section" + id).slideDown(speed);
            $( "#post_body" + id ).slideDown(speed);
            $( "#post_subheader" + id ).slideDown(speed);
            $( "#post_header" + id ).children(".post_header_arrow").addClass("post_header_arrow_show"); {# setting the "arrow down" when article is opened #}
        }
        else
        {
            $( "#comment_section" + id).slideUp(speed);
            $( "#post_body" + id ).slideUp(speed);            
            $( "#post_subheader" + id ).slideUp(speed);
            $( "#post_header" + id ).children(".post_header_arrow").removeClass("post_header_arrow_show");
        }
        
    for (i = 0; i<post_list.length; ++i)
    {
        if (post_list[i].id!==id)
        {
            $( "#comment_section" + post_list[i].id).slideUp(speed);
            $( "#post_body" + post_list[i].id ).slideUp(speed);
            $( "#post_subheader" + post_list[i].id ).slideUp(speed);
            $( "#post_header" + post_list[i].id ).children(".post_header_arrow").removeClass("post_header_arrow_show");
        }
    }
}
{#**************************************************************************#}
{# Popuplate and display the articles based on ajax response
{#**************************************************************************#}
function PopulateArticles(response, opendefault)
{
    if (response.status!=="ok")
        return;

    post_list = $.parseJSON(response.data.posts);
    post_pager = $.parseJSON(response.data.pager);

        for(i = 0; i<post_list.length ; ++i)
        getAndAddPost(post_list[i].id, post_list[i].publishedhomepage, opendefault);
}

{#**************************************************************************#}
{# Hide everything not required when displaying a single article
{#**************************************************************************#}
function hideDecorations()
{
    $('.post_date_label, .post_titre_label').hide();
    $('#postpagination').hide();
    show_alaune(false);
    show_articlefilter(false);
}
{#**************************************************************************#}
{# Show the article section
{#**************************************************************************#}
function showArticlesSection(){
    $('#articles').show();
    $('#homepage_aticles').show();
    $('#loadingarticles').hide();
    $('#postpagination').show();
}
{#**************************************************************************#}
{# Clear all the articles and display loading icon
{#**************************************************************************#}
function clearArticlesSection()
{
    $('#articles').empty();
    $('#articles').hide();
    $('#homepage_aticles').hide();
    $('#loadingarticles').hide().fadeIn(2000);
    $('#postpagination').hide();
}
{#**************************************************************************#}
{# Display articles using permalink (aka article url)
{#**************************************************************************#}
function displayArticleByPermalink(permalink, opendefault){
        var jqXHR = $.getJSON( "{{ url('cpt_blog_getsinglearticlelist_bypermalink') }}", {article_permalink:'{{article_permalink}}'}, function(response){
            PopulateArticles(response, opendefault);
            show_articlefilter(false);
        });
        registerJqXHR(jqXHR);
}
{#**************************************************************************#}
{# Displays a single article by id (ex: this is used by about page)
{#**************************************************************************#}
function displaySingleArticleById(postid){
    clearArticlesSection();
    
    $('#postcontainer'+postid).remove();

     $.get( "{{ url('cpt_blog_post_getjsonview') }}", {id:postid} , function( response ) {
        if (response.status === "ok"){
            createPostContainer(postid, '#articles');
            $( "#postcontainer" + postid ).html( response.data );
            toogle_article(postid,0,true);
            showArticlesSection();
            hideDecorations();
        }
    });
}

{#**************************************************************************#}
{# Retreives an array of post id from server, and call getAndAddPost
{#**************************************************************************#}
function getPostList(page, opendefault){

    count_article_loaded = 0;
    alaune_opened_article_id = -1;

    clearArticlesSection();

    if (article_permalink)
    {
        displayArticleByPermalink(article_permalink, opendefault);
    }
    else
        var jqXHR = $.getJSON( "{{ url('cpt_blog_getarticlelist') }}", {page:page, myarticles:filter_myarticles}, function(response){
            PopulateArticles(response, opendefault);
            CreatePagination();            
        });
        registerJqXHR(jqXHR);
}
{#**************************************************************************#}
{# Show/Hides the whole "A la une" section
{#**************************************************************************#}
function show_alaune(show)
{
    if (show)
    {
        $('#homepage_articles_label').show();
        $('#homepage_articles_label').show();
        $('#homepage_aticles').show();
    }
    else
    {
        $('#homepage_articles_label').hide();
        $('#homepage_articles_label').hide();
        $('#homepage_aticles').hide();
    }
}
{#**************************************************************************#}
{# Show/Hides the articles filter
{#**************************************************************************#}
function show_articlefilter(show)
{
    if (show)
        $('#articles_filter').show();
    else
        $('#articles_filter').hide();
}
{#**************************************************************************#}
{# Creates a container for the article and add it to the dom element
{#**************************************************************************#}
function createPostContainer(postid, domelementname)
{
    jQuery('<div/>', {
        id: 'postcontainer'+postid,
        class: 'postcontainer'
    }).appendTo(domelementname);
}
{#**************************************************************************#}
{# Retreives the html view of a post from a server based on its id, and add it to the DOM
{#**************************************************************************#}
function getAndAddPost(postid, publishedhomepage, opendefault)
{
   {# if the post container already exists, delete it #}
   //if ($('postcontainer'+post.id)!==null)
    $('#postcontainer'+postid).remove();

   {# add the div container for this post #}
    if (publishedhomepage)
    { {# "A la une" posts #}
        createPostContainer(postid, '#homepage_aticles');
        
        if (alaune_opened_article_id<0)
            alaune_opened_article_id = postid;
        
        show_alaune(true); {# shows the "a la une" section which is hidden by default #}
    }
    else
    { {# Other posts #}
        createPostContainer(postid, '#articles');
        
        show_articlefilter(true); {# as there is at least one article not "a laune", we show the filter #}
    }
    {# retreive post view from server and add it to container #}
    $.get( "{{ url('cpt_blog_post_getjsonview') }}", {id:postid} , function( response ) {
        if (response.status === "ok")
            $( "#postcontainer" + postid ).html( response.data );
        
        {# if this is the last one to be retreive, prepare the accordion #}
        count_article_loaded ++;
        if ((count_article_loaded === post_list.length) && (post_list.length>0)) {# finished loading all articles #}
        {
            opened_article_id = (alaune_opened_article_id < 0) ? post_list[0].id : alaune_opened_article_id;
            toogle_article(opened_article_id,0,opendefault);
            showArticlesSection();
        }
    });
}
{# ***************************************************************************#} 
{# Show or hide article popup
{#****************************************************************************#}     
function ArticleEditDisplay(visible)
{
    //DisplayOpacityMask(visible);

    if (visible)
    {
        $("#edit_article").show();
        $("#articles_display").hide();
        $('#column_title_article_title').html("{{'title_edit_post'|trans}}");
        $('#newarticle').hide();        
        window.scrollTo(0, 0);
    }
    else {
        $("#edit_article").hide();
        $("#articles_display").show();
        $('#column_title_article_title').html("{{'main.title.articles'|trans}}");
        $('#newarticle').show();
}
}
{#****************************************************************************#}
{# Loads the post popup with a given html content
{#****************************************************************************#}
function load_post_popup(html)
{
        $("#edit_article").html(html);
        window.scrollTo(0, 0);    
}
{#****************************************************************************#}
{# Loads the popup to Create or Modify an article. Pass null as postid to create a new article
{#****************************************************************************#}
function EditPost(postid)
{
    $("#edit_article").html("");

    var jqXHR = $.getJSON('{{ url('cpt_blog_post_edit')}}', {postid:postid, _locale:_locale}, function(response) {
        load_post_popup(response.data);
    }); 
    
    registerJqXHR(jqXHR);
    
    $('#loadingarticles').show();
    ArticleEditDisplay(true);
}
{#****************************************************************************#}
{# Creates pagination links
{#****************************************************************************#}
function CreatePagination()
{
    $('#postpagination').empty();
    
    {# if we have to display the pagination bar #}
    if (post_pager.havetopaginate)
    {
        if (pagination_currentfirstshown !== post_pager.first_page) {# if we are not already showing the first page, show the left arrow #}
        {
            listitem = $('<li/>').html( "<a onclick='pagination_showpreviouslinks();'></a>");
            listitem.addClass('post_pagination_leftarrow').appendTo('#postpagination');
        }
        else
            $('<li/>').appendTo('#postpagination');
        
        last_displayed_page = pagination_getlastdisplayedlink();
        
        for (i=pagination_currentfirstshown;i<=last_displayed_page;++i) {# display the navigation links #}
        {
            listitem = $('<li/>', {

            }).html( "<a href='#' onclick='getPostList(" + i + ", false);'>" + i + "</a>");
            
            if (i===post_pager.page)
                listitem.addClass("post_pagination_currentpage");
        
            listitem.appendTo('#postpagination');
        
        }
        
        if (last_displayed_page < post_pager.last_page) {# if the link to last page is not already displayed, display the right arrow #}
            {
                listitem = $('<li/>').html( "<a onclick='pagination_shownextlinks();'></a>");
                listitem.addClass("post_pagination_rightarrow").appendTo('#postpagination');
            }
        else
            $('<li/>').appendTo('#postpagination');
        
    }
}
{#****************************************************************************#}
{# Shifts pagination links to show the next pages in the pagination bar
{#****************************************************************************#}
function pagination_shownextlinks()
{
    if (pagination_getlastdisplayedlink()<post_pager.last_page)
    {
        pagination_currentfirstshown++;
        CreatePagination();    
    }
}
{#****************************************************************************#}
{# Shifts pagination links to show the previous pages in the pagination bar
{#****************************************************************************#}
function pagination_showpreviouslinks()
{
    if (pagination_currentfirstshown>1)
    {
        pagination_currentfirstshown--;
        CreatePagination();
    }
}
{#****************************************************************************#}
{# Shifts pagination links to show the previous pages in the pagination bar
{#****************************************************************************#}
function pagination_getlastdisplayedlink()
{
        return Math.min(pagination_currentfirstshown+post_pager.max_page_links, post_pager.last_page);    
}
{#****************************************************************************#}
{# Refresh current page
{#****************************************************************************#}
function refresh_article_page()
{
    getPostList(post_pager.page, false);
}
{#****************************************************************************#}
{# Switches filter value
{#****************************************************************************#}
function Set_filter_onlymyarticles(value)
{
    old_filter_myarticles = filter_myarticles; 
    filter_myarticles = value;
    
     if (filter_myarticles !== old_filter_myarticles)
        refresh_article_page();

    $("#articles_filter_all").toggleClass("cpt_red", !filter_myarticles);
    $("#articles_filter_all").toggleClass("cpt_grey", filter_myarticles);
    $("#articles_filter_myarticles").toggleClass("cpt_red", filter_myarticles);
    $("#articles_filter_myarticles").toggleClass("cpt_grey", !filter_myarticles);
}
{#****************************************************************************#}
{# Loads the article column first page
{#****************************************************************************#}
function InitArticlesColumn()
{
    Set_filter_onlymyarticles(false);
    show_articlefilter(false);
    getPostList(1,true);
    show_alaune(false);
    $('#article_user_messages').hide();


    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}        
    {# Articles Dialog Setup #}
    $("a#newarticle").on("click", function(){
        EditPost(-1);
   });

    ArticleEditDisplay(false);
        
    {# Article filter setup #}
    $("#articles_filter_all").on("click", function(){
        Set_filter_onlymyarticles(false);
    });
    $("#articles_filter_myarticles").on("click", function(){
        Set_filter_onlymyarticles(true);
    });
    {% endif %}
}
{#**************************************************************************#}
{# Onload
{#**************************************************************************#}
$(function() {
    
    InitArticlesColumn();
});
</script>