{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# Displays a single comment
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# Renders a single comment #}
<li id='comment_{{comment.id}}'>
    <ul class="horizontal_list">
        <li>{{ comment.author }}</li>
        <li>{{ comment.createdAt | format_date }}</li>
        <li>
            {% if comment.canModify %}
                <button type="button" onclick="delete_comment({{comment.id}});" id="comment_delete_button_{{comment.id}}">x</button>
            {% endif %}
        </li>
    </ul>
    <div class="comment_message">
        {{ comment.message|raw }}
    </div>
</li>