{##############################################################################}
{# JAVASCRIPT
{##############################################################################}
<script type="text/javascript">
{#****************************************************************************#}
{# OnLoad
{#****************************************************************************#}
    $(function() {  
        refresh_comment_list({{post.id}});
        
        AjaxForm("{{'form_comment_'~post.id}}", null, comment_submit_callback);
    
        $("#submit_comment_{{post_id}}").attr("disabled", "disabled");

        {# Toggle the button on key up #}
       $('#form_comment_{{post_id}}').find('#comment_message').keyup(function(){
           var textvalue = $('#form_comment_{{post_id}}').find('#comment_message').val();
           toggle_submit_comment_button(textvalue,{{post_id}});
       });
       {# Toggle the button on change #}
       $('#form_comment_{{post_id}}').find('#comment_message').change(function(){
           var textvalue = $('#form_comment_{{post_id}}').find('#comment_message').val();
           toggle_submit_comment_button(textvalue,{{post_id}});
       });
    });
</script>
{##############################################################################}
{# HTML
{##############################################################################}
{#****************************************************************************#}
{# Comment submission form
{#****************************************************************************#}
{{ form_start(commentform, {'action': path('sonata_news_add_comment',  { 'postid': post.id }), 'method': 'POST', 'attr': {'id': 'form_comment_'~post.id } }  ) }}
        {{ form_widget(commentform.message) }}
        {{ form_errors(commentform.message) }}

        {{ form_rest(commentform) }}
        <input type="submit" value="{{'btn_add_comment'|trans({}, 'CptBlogBundle') }}" id="submit_comment_{{post_id}}" class="btn btn-success"/>
 {{form_end(commentform) }} 
{#****************************************************************************#}
{# List of comments
{#****************************************************************************#}
<div id="comment_section{{ post.id }}">
    <a onclick="$('#comment_placeholder_{{ post.id }}').toggle('blind');" id="button_showhide_comment_{{ post.id }}">Afficher / Masquer les commentaires</a>
    <ul class="comment" id="comment_list_{{post_id}}">
    </ul>
</div>
