{##############################################}
{# Variables:
{#      - article: the article object to load. Pass a dummy article to edit a new one
{##############################################}
<script type="text/javascript">

{# handles the deletion of the post #}
$(function() {
    
    AjaxForm("posteditform", prepare_postform_submission, save_post_callback);
        
    $('#delete_post_button').click(function() {
            ModalDialog(delete_article, null, "{{ 'article.delete.popuptitle'|trans }}", "{{ 'article.delete.popupcontent'|trans }}", "{{ 'article.delete.okbutton'|trans }}", "{{ 'article.delete.cancelbutton'|trans }}");
     });
     
     $('#createarticle').click(function(){
         //AjaxPostForm('cpt_blog_post_edit', delete_article_callback);
         $('#posteditform').submit();
     });
     
     $('#close_edit_article').click(function(){
         ArticlePopupDisplay(false);
     });  
     
});

{#***********************************************#}
{# Prepare form for post submission
{#***********************************************#}
function prepare_postform_submission()
{
    CKEDITOR.instances['post_content'].updateElement();                {# update the entity field with CKEDIOR content #}
}

{#***********************************************#}
{# Deletes current article #}
{#***********************************************#}
function delete_article(confirmed)
{
    if (confirmed)
    {
        AjaxPostForm('delete_post_form', null, function(response){
            ArticlePopupDisplay(false);
        });
    }
}

{#***********************************************#}
{# Callback after Save the current post
{#***********************************************#}
function save_post_callback(response)
{
    if (response.status==="ok")
    {
        post = response.data;           {# in case of success, data contains an array with at least element post.id #}
        ArticlePopupDisplay(false);
        //getAndAddPost(post);
        refresh_article_page();
    }
    else
        load_post_popup(response.data); {# in case of failure (invalid form..), data will contain the form as html #}
}
</script>

<form action="{{ url('cpt_blog_post_delete', { 'id': post.id, '_locale': app.request.locale })}}" method="POST" id="delete_post_form" style="display:none;" ></form>


{{ form_start(posteditform, {'action': path('cpt_blog_post_edit', { 'id': post.id }), 'method': 'POST' }) }}
{# Header #}
<div class="row-fluid">
      <div class="span12 popup_title cpt_redbackground">
        {{post.id==-1 ? 'title_create_post'|trans: 'title_edit_post'|trans }}
        <a id="close_edit_article" class="popup_close_button">X</a>
      </div>
</div>
{# Errors #}
<div class="row-fluid">
    <div class="span10 offset1">
        <p>{{ form_errors(posteditform) }}</p>
    </div>
</div>
{# Controls #}
<div class="row-fluid">
        <div class="span10 offset1">
            {#****************************************************************************#}
            {# Button to enable or disable article
            {#****************************************************************************#}
            {{ form_widget(posteditform.enabled) }}{{ form_label(posteditform.enabled) }}
            {#****************************************************************************#}
            {# Button to have the article "a la une"
            {#****************************************************************************#}
            {% if is_granted('ROLE_ADMIN') %}
            {{ form_widget(posteditform.publishedhomepage) }}{{ form_label(posteditform.publishedhomepage) }}
            {% endif %}
            {#****************************************************************************#}
            {# Button to save the save article
            {#****************************************************************************#}
            <div id='createarticle' class="btn_red">{{'btn_create_post'|trans }}</div>
            {#****************************************************************************#}
            {# Button to delete the post (only displayed for already existing post        #}
            {#****************************************************************************#}
            {% if post.id!=-1 %}
            <div id='delete_post_button' class="btn_trash"></div> 
            {% endif %}
        </div>
</div>

{# Title #}
  <div class="row-fluid">
      <div class="span10 offset1">
          {{ form_widget(posteditform.title) }}
          {{ form_errors(posteditform.title) }}
      </div>
  </div>
{# Content #}
   <div class="row-fluid">     
       <div class="span10 offset1">
          {#{ form_widget(form.content) }#}
          {{ form_errors(posteditform.content) }}
          {{ form_widget(posteditform.content) }}     
      </div>
   </div>
    {{ form_end(posteditform) }}

