{##############################################}
{# Variables:
{#      - article: the article object to load. Pass a dummy article to edit a new one
{##############################################}
<script type="text/javascript">

{# handles the deletion of the post #}
$(function() {         
    $('#delete_post_button').click(function() {
            ModalDialog(delete_article, "{{ 'article.delete.popuptitle'|trans }}", "{{ 'article.delete.popupcontent'|trans }}", "{{ 'article.delete.okbutton'|trans }}", "{{ 'article.delete.cancelbutton'|trans }}");
     });
     
     $('#createarticle').click(function(){
         AjaxPostForm('cpt_blog_post_edit', delete_article_callback);
     });
     
     $('#close_edit_article').click(function(){
         ArticlePopupDisplay(false);
     });  
     
});


{#***********************************************#}
{# Deletes current article #}
{#***********************************************#}
function delete_article(confirmed)
{
    if (confirmed)
    {
        AjaxPostForm('delete_post_form', delete_article_callback);
    }
}

{#***********************************************#}
{# Deletes current article => Postback #}
{#***********************************************#}
function delete_article_callback(data)
{
    alert(data);
}

</script>

    <form action="{{ url('cpt_blog_post_delete', { 'id': post.id })}}" method="POST" id="delete_post_form" style="display:none;" ></form>

    <form action="{{ url('cpt_blog_post_edit', { 'id': post.id })}}" method="POST" >

{# Header #}
<div class="row-fluid">
      <div class="span12 popup_title cpt_redbackground">
        {{post.id==-1 ? 'title_create_post'|trans: 'title_edit_post'|trans }}
        <a id="close_edit_article" class="popup_close_button">X</a>
      </div>
</div>
{# Errors #}
<div class="row-fluid">
    <div class="span10 offset1">
        <p>{{ form_errors(form) }}</p>
    </div>
</div>
{# Controls #}
<div class="row-fluid">
        <div class="span10 offset1">
            {{ form_widget(form.enabled) }}{{ form_label(form.enabled) }}
            {% if is_granted('ROLE_ADMIN') %}
            {{ form_widget(form.publishedhomepage) }}{{ form_label(form.publishedhomepage) }}
            {% endif %}
            <a id='createarticle' class="article_new_btn">{{'btn_create_post'|trans }}</a>
            <a id='delete_post_button'>{{'Supprimer l article'|trans }}</a>            
        </div>
</div>

{# Title #}
  <div class="row-fluid">
      <div class="span10 offset1">
          {{ form_widget(form.title) }}
          {{ form_errors(form.title) }}
      </div>
  </div>
{# Content #}
   <div class="row-fluid">     
       <div class="span10 offset1">
          {#{ form_widget(form.rawcontent) }#}
          {{ form_errors(form.rawcontent) }}
          {{ form_widget(form.rawcontent) }}     
      </div>
   </div>
</form>
