{##############################################################################}
{# JAVASCRIPT
{##############################################################################}
<script type="text/javascript">
{#****************************************************************************#}
{# OnLoad
{#****************************************************************************#}
 $(function() {
    {# Retreives comments for this post and add them to the form#}
     $.get( "{{ url('get_comment_plainhtml', { 'postId': post.id }) }}", function( data ) {    
       
           $("#comment_placeholder_{{ post.id }}").append(data);
           $('#button_showhide_comment_{{ post.id }}').show();

     });
     
     $("#post_header{{post.id}}").on("click", function(){
         toogle_article({{post.id}},500);
     });
});
</script>

{#
{#
{##############################################################################}
{# HTML
{##############################################################################}
{#****************************************************************************#}
{# Post Header (title etc.)
{#****************************************************************************#}
<div class="post_header" id="post_header{{post.id}}">
    <div class="post_header_arrow"></div>
    <div class="post_header_date">{{post.createdAt|date('d/m') }}</div>
    <div class="post_header_title">{{ post.title|upper }}</div>
    <div class="post_header_commentcount">{{ post.commentsCount }}</div>
    <div class="post_header_author">{{ post.author }}</div>
</div>
{#****************************************************************************#}
{# Post Body (Content etc.)
{#****************************************************************************#}
<div class="post_body" id="post_body{{post.id}}">
    {{ post.rawcontent|raw }}
    {% if post.CanBeModified %}
            <!--button onclick="parent.location='{{ url('cpt_blog_post_edit', { 'id': post.id }) }}'" class="btn btn-success btn-small pull-right">Editer</button!-->
    {% endif %}
    {#****************************************************************************#}
    {# Comments
    {#****************************************************************************#}
</div>
    {% render controller("CptBlogBundle:Comment:comments", { 'postId': post.id }) %}


