{# #############################################################################}
{# JAVASCRIPT
{# #############################################################################}
<script type="text/javascript">
{#****************************************************************************#}
{# OnLoad
{#****************************************************************************#}
 $(function() {
    {#****************************************************************************#}     
    {# Clicking on the post header triggers an accordion (slidup / slidedown of posts
    {#****************************************************************************#}
     $("#post_header{{post.id}}").on("click", function(){
         toogle_article({{post.id}},500, true);
     });
     
    {#****************************************************************************#}     
    {# Changing css class for post header if it is not enabled, and eventually remove "alaune" css class
    {#****************************************************************************#}
     {% if (not post.enabled) or (post.publicationdatestart|date("U") > "now"|date("U")) %}
     $("#post_header{{post.id}}").addClass("cpt_grey").removeClass("alaune");
     $("#post_header{{post.id}} > .post_header_title").removeClass("alaune");     
     {% endif %}
         
     {#****************************************************************************#}
     {# Enable context menu to modify a post #}
     {#****************************************************************************#}
     {% if is_granted('EDIT', post) %}
     $("#post_header{{post.id}}").hover({# on hover on/off post header, show or hide the menu #}
        function(){
             $( "#contextmenucontainer{{post.id}}" ).show();
        },
        function(){
            $( "#contextmenucontainer{{post.id}}" ).hide();
        }
     );
     
     $( "#contextmenucontainer{{post.id}}" ).hide(); {# hide menu by default #}
     $( "#contextmenu{{post.id}}" ).menu(); {# call jquery ui to make a menu #}
     {% endif %}
});
</script>

{#
{#
{##############################################################################}
{# HTML
{##############################################################################}
{#****************************************************************************#}
{# Post Header (title etc.)
{#****************************************************************************#}
<div class="post_header {{post.publishedhomepage ? 'alaune' : '' }}" id="post_header{{post.id}}">
    <div class="post_header_arrow  {{post.publishedhomepage ? 'alaune' : '' }}"></div>
    <div class="post_header_date  {{post.publishedhomepage ? 'alaune' : '' }}">{{post.createdAt|date('d/m') }}</div>
    <div class="post_header_title  {{post.publishedhomepage ? 'alaune' : '' }}">{{ post.title|upper }}</div>
</div>
<div class="post_subheader" id="post_subheader{{post.id}}">
    <div class="inline-block">Par {{ post.author }} le {{post.createdAt|date('d/m/Y')}}</div>
    <div class="inline-block float-right"><a href="{{ url('cpt_base_article_permalink', { 'article_permalink': sonata_news_permalink(post) }, true) }}"  target='_blank' class="btn_link" name="{{'hint.post.linktothisarticle'}}"></a></div>
     {% if is_granted('EDIT', post) %}
    <div class="inline-block float-right"><a class="btn_settings" name="{{'hint.post.editarticle'}}" onclick="EditPost({{post.id}})"></a></div>
    {% endif %}
</div>
{#****************************************************************************#}
{# Post Body (Content etc.)
{#****************************************************************************#}
<div class="post_body" id="post_body{{post.id}}">
    {{ post.content|raw }}
</div>
{#****************************************************************************#}
{# Comments
{#****************************************************************************#}
{% render controller("CptPublicationBundle:Comment:getCommentsContainer", { 'publication': post, '_locale': app.request.locale }) %}


