<div class="post_header" id="post_header{{post.id}}">
    <div class="post_header_arrow"></div>
    <div class="post_header_date">{{post.createdAt|date('d/m') }}</div>
    <div class="post_header_title">{{ post.title|upper }}</div>
    <div class="post_header_commentcount">{{ post.commentsCount }}</div>
    <div class="post_header_author">{{ post.author }}</div>
</div>
<div class="post_body" id="post_body{{post.id}}">
        {{ post.rawcontent|raw }}
    {% if post.CanBeModified %}
            <button onclick="parent.location='{{ url('cpt_blog_post_edit', { 'id': post.id }) }}'" class="btn btn-success btn-small pull-right">Editer</button>
    {% endif %}
</div>


