{% include 'CptEventBundle:Event:calendar.js.twig' %}

{#% set month = calendr_month(year, month) %#}
{% set year = calendr_year(currentdate|date("Y")) %}
{% set month = calendr_month(currentdate|date("M")) %}
{% set events = calendr_events(month) %}
{% set cell_class = 'unknown' %}

<div>
    <ul>
    <li>Up</li>
    <li>{{month|trans}}</li>
    <li>{{year|trans}}</li>
    <li>Down</li>
    </ul>
</div>

<table class="cal_table">
    {% spaceless %}
    {% for week in month %}
    <tr>
        {% for day in week %}
                {% set dayevents = events.find(day) %}
                {% if month.contains(day.begin) and (dayevents|length > 0) %}
                    {% set cell_class = 'cal_day_inmonth_withevents' %}
                {% elseif month.contains(day.begin) and (dayevents|length == 0) %}
                    {% set cell_class = 'cal_day_inmonth_noevents' %}
                {% elseif not month.contains(day.begin) and (dayevents|length > 0) %}
                    {% set cell_class = 'cal_day_outmonth_withevents' %}
                {% else %}{% set cell_class ='cal_day_outmonth_noevents'%}{% endif %}
                <td class='cal_day'><div class="{{cell_class}}"><a href="#">{{day.begin|date("j") }}</a></div></td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endspaceless %}
</table>

<ul>
{% for event in events.find(month) %}
    <li>{{ event.id }}</li>
{% endfor %}
</ul>
{#<a href="#" class="cal_event">{{day.begin|date("d") }}</a>#}