<table class="cpt_calendar">
<tr>
    <td>
    + {{ month_name }} -
    </td>
</tr>
<tr>
    <table>
        <tr>
            <td>{{ monday_name }}</td>
            <td>{{ tuesday_name }}</td>
            <td>{{ wednesday_name }}</td>    
            <td>{{ thursday_name }}</td>    
            <td>{{ friday_name }}</td>    
            <td>{{ saturday_name }}</td>    
            <td>{{ sunday_name }}</td>
        </tr>
        <tr>

        </tr>
    </table>
</tr>
</table>