{% include 'CptEventBundle:Event:edit.js.twig' with {'event': event, 'eventform':eventform, 'map':map} %}

 {# Header #}
<div class="row-fluid">
      <div class="span12 popup_title cpt_bluebackground">
        {{event.id==-1 ? 'event.popup.create_title'|trans: 'event.popup.edit_title'|trans }}
        <a id="close_edit_event" class="popup_close_button" onclick='DisplayEventEditPanel(false);'>X</a>
      </div>
</div>   
{% block javascripts %}

    {% javascripts
        '@ThraceFormBundle/Resources/public/js/spinner.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

        
{% form_theme eventform with ['ThraceFormBundle:Form:fields.html.twig'] %}

        {{ form_start(eventform, {'action': path('event_manage',  { 'id': event.id }), 'method': 'POST' }) }}
        {{ form_widget(eventform.restricted) }}
        {{ form_widget(eventform.approved) }}
        {{ form_widget(eventform.location_long) }}
        {{ form_widget(eventform.location_lat) }}
        <input id="copy_field" name="copy_field" type="hidden" value="0"/>
        <button id="save_button" type="submit">{{'form.save'|trans}}</button>
        {% if event.id != -1 %}
        <button id="copy_button" type="submit">{{'form.event.copy'|trans}}</button>
        {% endif %}
        <input type="hidden" value="{{ event.queue|join(',') }}" id="event_queue_json" name="event_queue_json" /> {# populated with the array of event.queu #}
        <input type="hidden" id="registration_list_json" name="registration_list_json" /> {# will hold the json value of the list_participant array before submitting the form  #}
    <div id="tabs">

        <div>
            {{'event.tab.description'|trans}}
           {{ form_label(eventform.registration_allowed) }}{{ form_errors(eventform.registration_allowed) }}
           {{ form_widget(eventform.registration_allowed) }}

            {{ form_label(eventform.enabled) }}{{ form_errors(eventform.enabled) }}
            {{ form_widget(eventform.enabled) }}
                
            {{ form_label(eventform.cpt_event) }}{{ form_errors(eventform.cpt_event) }}
            {{ form_widget(eventform.cpt_event) }}

            {{ form_label(eventform.title) }}{{ form_errors(eventform.title) }}
            {{ form_widget(eventform.title) }}

            {{ form_label(eventform.content) }}{{ form_errors(eventform.content) }}
            {{ form_widget(eventform.content) }}
                
        </div>

        <div>
            {{'event.tab.place_and_date'|trans}}
            
            {{ google_map_css(map) }}
            {{ form_label(eventform.location_show_map) }}
            {{ form_widget(eventform.location_show_map) }}

            {{ google_map_container(map) }}
            {{ google_map_js(map) }}
            {# location #}
            <h2>Lieu</h2>
            <table>
                 <tr>
                     <td>{{ form_label(eventform.corporate_name) }}{{ form_errors(eventform.corporate_name) }}</td>
                     <td>{{ form_widget(eventform.corporate_name) }}</td>
                 </tr>
                 <tr>
                     <td>{{ form_label(eventform.city_name) }}{{ form_errors(eventform.city_name) }}</td>
                     <td>{{ form_widget(eventform.city_name) }}</td>
                 </tr>
                 <tr>
                     <td>{{ form_label(eventform.city_postal_code) }}{{ form_errors(eventform.city_postal_code) }}</td>
                     <td>{{ form_widget(eventform.city_postal_code) }}</td>
                 </tr>
                 <tr>
                     <td>{{ form_label(eventform.address) }}{{ form_errors(eventform.address) }}</td>
                     <td>{{ form_widget(eventform.address) }}</td>
                 </tr>
              </table>

              <h2>Dates et Heures</h2>
              <table>
                  <tr>
                     <td>{{ form_label(eventform.begin) }}{{ form_errors(eventform.begin) }}</td>
                     <td>{{ form_widget(eventform.begin) }}</td>
                 </tr>
                 <tr>
                     <td>{{ form_label(eventform.end) }}{{ form_errors(eventform.end) }}</td>
                     <td>{{ form_widget(eventform.end) }}</td>
                 </tr>
              </table>
          </div>
          <div>      
            {{'event.tab.attendees'|trans}}
            {# Participants #}
            {% if event.id !=-1 %}
                  <a href="{{ url('event_download_attendees', { 'eventid': event.id })  }}">{{'event.download_atendees_list'|trans}}</a>
            {% endif %}
            {{ form_label(eventform.maxnumattendees) }}
            {{ form_errors(eventform.maxnumattendees) }}
            {{ form_widget(eventform.maxnumattendees) }}

            {# ************************************************************************************************************************ #} 
            {# user search field #}
            <div class="ui-widget">
              <input id="user_search" />
            </div>

            {# registration table #}
            <table class='cpt_table' style='width:700px;' id='reservation_table'>
                <tr>
                    <th>Nom</th>
                    <th>Nombre de places demandées</th>
                    <th>Nombre de places demandées en attente</th>
                    <th>Animateur</th>
                    <th>Actions</th>
                </tr>
            </table>

            <button onclick="$('#queue_table').toggle();return false;">{{'event.show_hide_attendeelist'|trans}}</button>

            {# queue table #}
            <table class='cpt_table' style='width:700px;' id="queue_table">
                <thead>
                <tr>
                    <th>{{'event.attendeequeue.rank'|trans}}</th>
                    <th>{{'event.attendeequeue.name'|trans}}</th>
                    <th>{{'event.attendeequeue.requested_seats'|trans}}</th>
                    <th>{{'event.attendeequeue.queued'|trans}}</th>
                </tr>
                </thead>
                <tbody id="queue_table_body">
                </tbody>
            </table>
          </div>
    </div>
    {{ form_end(eventform) }}



        
 
  