{# ****************************************************************************#}
{# Event Header
{# ****************************************************************************#}
<a name="event_anchor{{event.begin|date("j") }}"></a> {# anchor for clicking on the calendar date #}
<div class="event_header">
    {% if event.CptEvent %}<div class='cpt_event_btn'></div>{%endif%}
    <div>
        {{ event.cityname }}                                   {# City name #}
    </div>
    <div>
        {{ event.begin | date('l') | trans}}                   {# Begin date #}
        {{ event.begin|date('d/m') }}                          {# Begin hour #}
        {% if not cpt_event_isBeginEndSameDay(event) %}
        - {{ event.end | date('l') | trans}}                   {# End date #}
        {{ event.end |date('d/m') }}                           {# End hour #}
        {% endif %}
    </div>
</div>
{#****************************************************************************#}
{# Event Edit Actions & Link to Event
{#****************************************************************************#}
<div class="inline-block float-right"><a href="{{ url('cpt_base_event_permalink', { 'event_permalink': event_permalink(event) }, true) }}"  target='_blank' class="btn_link" title="{{'hint.event.linktothisevent'|trans}}"></a></div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set registration = cpt_event_getRegistration(event,app.user) %}
    {% if (registration is not null) and (registration.organizer) %}
    <div class="inline-block float-right" title="{{'event.button.manage'|trans}}"><a class="btn_settings" onclick="manage_event({{event.id}});"></a></div>
    {% endif %}
 {% endif %}
{#****************************************************************************#}
{# Event Sub Header
{#****************************************************************************#}
<div class="event_subheader">"{{ event.title }}"</div>            {# Title #}   
{% if cpt_event_isAuthorSingleOrganizer(event) %}
    <div style="display:inline-block">
    {{ 'event.organizedandanimatedby'|trans}}
    <b>{{" " ~ event.author.displayname}}</b>{{" |"}}              {# Organizer + Animator name #}
    </div>
{% else %}
    <div style="display:inline-block">
    {{ 'event.organizedby'|trans}}
    <b>{{" " ~ event.author.displayname}}</b>{{" |"}}              {# Organizer name #}
    </div>
    <div style="display:inline-block">
    {{ 'event.animatedby'|trans}}
    {% for registration in event.registrations %}
        {{ loop.last and not loop.first ? 'and'|trans ~ " " }}
        <b>{{ registration.user.displayname ~ " "}}</b>             {# Animator name #}
        {{ loop.last ? " |" }}
    {% endfor %}
    </div>
{% endif %}
{% if event.CorporateName is not empty %}
    <div style="display:inline-block">
    <b>{{ event.CorporateName}}</b> |                               {# Location corporate name #}
    </div>
{% endif %}
    <div style="display:inline-block">
{{ event.Address is not empty ?  " " ~ event.Address ~ " |"}}       {# Location address #}
    </div>
    <div style="display:inline-block">
{{ 'at_hour'|trans ~ " " ~ event.begin|date('H:i') ~ " |" }}        {# Time #}
    </div>
&nbsp;
    </div>
     <div style="display:inline-block">
         {% transchoice event.AvailableSeats %}event.availableseats{% endtranschoice %} 
         {{event.AvailableSeats }} / {{event.maxnumattendees }} ({{event.CountQueuedAttendees }} {{ 'event.queuedseats'|trans }})&nbsp;|&nbsp;
     </div>
     <div style="display:inline-block">
        <a id="event_readmore_btn{{event.id}}">{{'event.readmore'|trans}}</a>
     </div>
{#****************************************************************************#}
{# Action panel
{#****************************************************************************#}
<div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set registration = cpt_event_getRegistration(event,app.user) %}
    {% if registration is null %}                                   {# case: user logged in but no reservation done #}
        {{'event.book'|trans}}
        <input type="number" name="numparticipant{{event.id}}" id="numparticipant{{event.id}}" value="0" min="0" max="999" class="event_numattendee_select">
        {{'event.seats'|trans}}
        <a id="registrationmodify_btn{{event.id}}" class="event_book_btn">{{'event.button.validate'|trans}}</a>
    {% elseif not registration.organizer %}                         {# case: user logged in, is not organizer, has booked #}
        {{'event.youhavebooked'|trans}}
        <input type="number" name="numparticipant{{event.id}}" id="numparticipant{{event.id}}" value="{{registration.numparticipant}}" min="0" max="999" class="event_numattendee_select">
        {{'event.seats'|trans}}
        <a id="registrationmodify_btn{{event.id}}" class="event_book_btn">{{'event.button.modify'|trans}}</a>
    {% endif %}
{% endif %}
</div>
{#****************************************************************************#}
{# Event content
{#****************************************************************************#}
 <div id="event_content{{event.id}}" class="event_content">
 {{ event.content|raw }}
 {% render controller("CptPublicationBundle:Comment:getCommentsContainer", { 'publication': event, '_locale': app.request.locale }) %}
</div>
<hr class="event_hr">
{#****************************************************************************#}
{# Javascript
{#****************************************************************************#}
<script type="text/javascript">
$(function() {
    {# hide the modify or validate button #}
    $('#registrationmodify_btn{{event.id}}').hide();
    
    {# handles the "readmore" button #}
    $("#event_readmore_btn{{event.id}}").on("click", function(){
        event_content_accordion_toggle({{event.id}});
    });
    
    {# hides the content of the event #}
    event_content_toggle({{event.id}},false);
    
    {# on change number of participant, show the modify or validate button #}
    $("#numparticipant{{event.id}}").on('change', function(){
        $('#registrationmodify_btn{{event.id}}').show();
   });    
});
</script>
