{# ****************************************************************************#}
{# Event Header
{# ****************************************************************************#}
<a name="event_anchor{{event.begin|date("j") }}"></a> {# anchor for clicking on the calendar date #}
<div class="event_header">
    {% if event.CptEvent %}<div class='cpt_event_btn'></div>{% endif %}
    <div>
        {{ event.cityname }}                                   {# City name #}
    </div>
    <div>
        {{ event.begin | date('l') | trans}}                   {# Begin date #}
        {{ event.begin|date('d/m') }}                          {# Begin hour #}
        {% if not cpt_event_isBeginEndSameDay(event) %}
        - {{ event.end | date('l') | trans}}                   {# End date #}
        {{ event.end |date('d/m') }}                           {# End hour #}
        {% endif %}
    </div>
</div>
{#****************************************************************************#}
{# Event Edit Actions & Link to Event
{#****************************************************************************#}
<div class="inline-block float-right"><a href="{{ url('cpt_base_event_permalink', { 'event_permalink': event_permalink(event) }, true) }}"  target='_blank' class="btn_link" title="{{'hint.event.linktothisevent'|trans}}"></a></div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set registration = cpt_event_getRegistration(event,app.user) %}
    {% if ((registration is not null) and (registration.organizer)) or (cpt_event_isAuthor(event, app.user)) %}
    <div class="inline-block float-right" title="{{'event.button.manage'|trans}}"><a class="btn_settings" onclick="ShowPage(PAGE_EDIT_EVENT,{{event.id}});"></a></div>
    {% endif %}
 {% endif %}
{#****************************************************************************#}
{# Event Sub Header
{#****************************************************************************#}
<div class="event_subheader">"{{ event.title }}"</div>            {# Title #}   
{% if cpt_event_isAuthorSingleOrganizer(event) %}
    <div style="display:inline-block">
    {{ 'event.organizedandanimatedby'|trans}}
    <b>{{(" " ~ event.author.displayname|account_link(event.author.id))|raw}}</b>{{" |"}}              {# Organizer + Animator name #}
    </div>
    <div style="display:inline-block">
        <a id="event_readmore_btn{{event.id}}" class="btn_event_seeless">{{'event.readmore'|trans}}</a>
    </div>
    <br>
{% else %}
    <div style="display:inline-block">
    {{ 'event.organizedby'|trans}}
    <b>{{(" " ~ event.author.displayname|account_link(event.author.id))|raw}}</b>{{" |"}}              {# Organizer name #}
    </div>
    <div style="display:inline-block">
        <a id="event_readmore_btn{{event.id}}" class="btn_event_seeless">{{'event.readmore'|trans}}</a>
    </div>
    <br>
    <div style="display:inline-block">
    {{ 'event.animatedby'|trans}}
    {% for registration in event.registrations %}
        {{ loop.last and not loop.first ? 'and'|trans ~ " " }}
        {{ not loop.last and not loop.first ? ', ' }}
        <b>{{ (registration.user.displayname|account_link(registration.user.id)~ " ")|raw}}</b>             {# Animator name #}
        {{ loop.last ? " |" }}
    {% endfor %}
    </div>
{% endif %}
{% if event.CorporateName is not empty %}
    <div style="display:inline-block">
    <b>{{ event.CorporateName}}</b> |                               {# Location corporate name #}
    </div>
{% endif %}
    <div style="display:inline-block">
        {{ event.ShortAddress is not empty ?  " " ~ event.ShortAddress ~ " |"}}       {# Location address #}
    </div>
    <div style="display:inline-block">
        {{ 'at_hour'|trans ~ " " ~ event.begin|date('H:i') }}        {# Time #}
    </div>
&nbsp;

     {# <div style="display:inline-block">                          // number of avalaible seats 
         {% transchoice event.AvailableSeats %}event.availableseats{% endtranschoice %} 
         {{event.AvailableSeats }} / {{event.maxnumattendees }} ({{event.CountQueuedAttendees }} {{ 'event.queuedseats'|trans }})&nbsp;|&nbsp;
     </div> #} 
{#****************************************************************************#}
{# Action panel
{#****************************************************************************#}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (event.end|date('U') > "now"|date('U') )%}
    {% set registration = cpt_event_getRegistration(event,app.user) %}
    {% if (registration is null) %}                                   {# case: user logged in but no reservation done #}
        {% if (not cpt_event_isAuthor(event, app.user)) %}
        <div class="event_booking">
            {{'event.book'|trans}}
            <input type="number" name="numparticipant{{event.id}}" id="numparticipant{{event.id}}" value="1" min="1" max="999" class="event_numattendee_select">
            {{'event.seats'|trans}}
            <a id="registrationmodify_btn{{event.id}}" class="btn_blue">{{'event.button.validate'|trans}}</a>
        </div>
        {% endif %}
    {% elseif not registration.organizer and not cpt_event_isAuthor(event, app.user) %}                         {# case: user logged in, is not organizer and not author, has booked #}
        <div class="event_booking_resa event_booking">
            {{'event.youhavebooked'|trans}}
            <input type="number" name="numparticipant{{event.id}}" id="numparticipant{{event.id}}" value="{{registration.numparticipant}}" min="1" max="999" class="event_numattendee_select" title="{{'hint.event.numattendeebooked'|trans}}">
            {{'event.seats'|trans}}
            &nbsp;<a id="registrationmodify_btn{{event.id}}" class="btn_blue" title="{{'hint.event.modifyregistration'|trans}}">{{'event.button.modify_registration'|trans}}</a>
            <a id="registrationcancel_btn{{event.id}}" class="btn_blue">{{'event.button.cancel_registration'|trans}}</a>
            {# Number of booked seats and Flash messages #}
            <span class="cpt_red">
                <br/><b>{{ 'event.numconfirmed'|trans({'%count%': registration.numconfirmed}) }}{% if registration.numqueuedparticipant >0 %}{{ 'event.numqueuedattendees'|trans({'%count%': registration.numqueuedparticipant}) }}{% endif %}</b>            
            </span>
        </div>
    {% endif %}
{% endif %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="cpt_red">{{ flashMessage }}</div>
    {% endfor %}
    <div id="loading_event_{{event.id}}" class="loading-mini"></div>
{#****************************************************************************#}
{# Event content
{#****************************************************************************#}
 <div id="event_content{{event.id}}" class="event_content">    
 {{ event.content|raw }}
 {% render controller("CptPublicationBundle:Comment:getCommentsContainer", { 'publication': event, '_locale': app.request.locale }) %}
</div>
<hr class="event_hr">
{#****************************************************************************#}
{# Javascript
{#****************************************************************************#}
<script type="text/javascript">
$(function() {
    {# hiding the loading icon #}
    $('#loading_event_{{event.id}}').hide();
    
    {# hide the modify or validate button #}
    $('#registrationmodify_btn{{event.id}}').hide();
    
    {# handles click on registration button button #}
    $('#registrationmodify_btn{{event.id}}').on("click", function(){
        var reg_numattendees = $("#numparticipant{{event.id}}").val();
        RegisterToEvent({{event.id}}, reg_numattendees);
    });
    
    {# handles the "readmore" button #}
    $("#event_readmore_btn{{event.id}}").on("click", function(){
        event_content_accordion_toggle({{event.id}});
    });
    
    {# hides the content of the event #}
    event_content_toggle({{event.id}},false);
    
    {# on change number of participant, show the modify or validate button #}
    {# only for logged in user, future events for which user has registered #}
    {# and for which he is not an organizer #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") 
        and ((event.end|date('U') > "now"|date('U')) )
        and registration is not null 
        and not registration.organizer
    %}
    $("#numparticipant{{event.id}}").on('change', function(){
        value = parseInt($("#numparticipant{{event.id}}").val());
        if (value != $("#numparticipant{{event.id}}").val()) { {# testing if value is an integer #}
            $('#registrationmodify_btn{{event.id}}').hide();
        } else {
            if ({{registration.numparticipant}} != value){
                $('#registrationmodify_btn{{event.id}}').show();
            } else {
                $('#registrationmodify_btn{{event.id}}').hide();
            }
        } 
   });
   
   $("#registrationcancel_btn{{event.id}}").on('click',function(){
        CancelRegistrationToEvent({{event.id}});
   });
   
    {# user is logged in but has not yet registered => show the validation button #} 
    {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") 
        and ((event.end|date('U') > "now"|date('U')) ) %}
           $('#registrationmodify_btn{{event.id}}').show();
    {% endif %}
});
</script>
