<!DOCTYPE html>
<html>
    {# ******************************************************** #}
    {# HEAD #}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
            
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {# ******************************************************** #}
        {# JAVASCRIPTS #}
        {% javascripts '@CptMainBundle/Resources/public/js/jquery.js'
                        '@CptMainBundle/Resources/public/js/jquery-ui.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

           
        {% block javascripts %}
        {% endblock %}
   
            
        {# ******************************************************** #}            
        {# CSS #}    
        {% stylesheets '@CptMainBundle/Resources/public/css/*' 
                        filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    {# ******************************************************** #}
    {# BODY #}
    <body>
           {# ------------------------------- #}
           {# Modal dialog and flash messages #}
          <script>
            var modal_dialog_result = null;
            function ModalDialog(callback_function, title, text, buttonOK_text, buttonCANCEL_text, button3_text)
            {
                var buttons = Array();
                if (buttonOK_text)  
                    buttons.push({ text: buttonOK_text, click: function() { $( this ).dialog( "close" ); if (callback_function) {callback_function(true); }} } );
                if (buttonCANCEL_text)
                    buttons.push({ text: buttonCANCEL_text, click: function() { $( this ).dialog( "close" ); if (callback_function) {callback_function(false);  } } });
                if (button3_text)
                    buttons.push({ text: button3_text, click: function() { $( this ).dialog( "close" ); if (callback_function) {callback_function(3);  } } });
                
                $( "#modal_dialog" ).dialog( "open" );
                
                $( "#modal_dialog" ).dialog( "option", "title", title );
                $( "#modal_dialog" ).dialog( "option", "buttons", buttons );
                $( "#modal_dialog_text" ).html(text);
            }
            
            function RedirectHome()
            {
                  document.location='{{ url('cpt_main_home')}}';              
            }
            
        
            $(function() {
                $.ajaxSetup({
                    error: function(jqXHR, textStatus, errorThrown ) {
                        if (jqXHR.status === 0) {
                            ModalDialog(null, "Non connecté", "Il semble que vous ne soyez plus connecté(e) au réseau.<BR/>Reconnectez-vous et essayez encore.", "Ok");
                        } else if (jqXHR.status === 401) {
                        ModalDialog(RedirectHome, "Session expirée", "Votre session a expiré.<br/>Vous allez être redirigé(e) vers la page d'accueil.<br/>Toutes modifications non enregistrées seront perdues.", "Ok");
                        } else if (jqXHR.status === 404) {
                            ModalDialog(RedirectHome, "Ressource inexistante", "Vous tentez d'accéder à une ressource qui n'existe pas.<br/>Vous allez être redirigé(e) vers la page d'accueil.<br/>Toutes modifications non enregistrées seront perdues.", "Ok");
                        } else if (jqXHR.status === 500) {
                            ModalDialog(RedirectHome, "Erreur", "Une erreur s'est produite sur le serveur.<br/>Vous allez être redirigé(e) vers la page d'accueil.<br/>Toutes modifications non enregistrées seront perdues.", "Ok");
                        } else {
                            ModalDialog(RedirectHome, "Erreur", "Une erreur s'est produite<br/>Vous allez être redirigé(e) vers la page d'accueil.<br/>Toutes modifications non enregistrées seront perdues.", "Ok");
                        }
                        
                        {% if app.environment == 'dev' %}
                            myWindow=window.open('', '_blank');
                            myWindow.document.write(jqXHR.responseText);
                        {% endif %}
                    }
                });
            });
            
            function AjaxPostForm( $form, callback ){
                /*
                 * Get all form values
                 */
                var values = {};
                $.each( $form.serializeArray(), function(i, field) {
                  values[field.name] = field.value;
                });

                /*
                 * Throw the form values to the server!
                 */
                $.ajax({
                  type        : $form.attr( 'method' ),
                  url         : $form.attr( 'action' ),
                  data        : values,
                  success     : function(data) {
                    callback( data );
                  },
                });

          }
            
       
            $(function() {
              $( "#modal_dialog" ).dialog({
                autoOpen: false,
                resizable: false,
                closeOnEscape: false,
                modal: true,
                buttons: {
                  "Delete all items": function() {
                    $( this ).dialog( "close" );
                  },
                  Cancel: function() {
                    $( this ).dialog( "close" );
                  }
                }
                });              
   
               {# display flash message #}
                flash = Array();
                {% for key, flash in app.session.flashbag.get('popup_message') %}
                    flash[{{ key }}] = "{{ flash }}";
                {% endfor %}
                if (flash.length>0)
                    ModalDialog(null, flash[0], flash[1], "Ok");
                }); 
         </script>
          <div id="modal_dialog" title="">
              <div id="modal_dialog_text"></div>
          </div> 
         {# ---FIN Modal Dialogs and Flash Messages -- #}
         
        <!--header -->          
            {% block header %}
            <header>
                <div class="top_banner row-fluid">
                    <div class="span3">
                        Chant pour tous
                        Vocal & Corporel - Improvisé - Ouvert à tous - Gratuit
                    </div>
                    <div class="span7">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul class="nav">
                            <li><a href="#">{{ app.user.username|upper }}</a></li>
                            <li><a href="{{ url('cpt_blog_post_new')}}">{{"main.menu.item.newarticle"|trans}}</a></li>
                            <li><a href="{{ url('cpt_blog_post_list')}}">{{"main.menu.item.myarticles"|trans}}</a></li>
                            <li><a href="#">{{"main.menu.item.myevents"|trans}}</a></li>
                            <li><a href="{{ path('sonata_user_profile_show') }}">{{"main.menu.item.profile"|trans}}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    {% endif %}
                     </div>
                     <div class="span2">
                          {% if (not is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                            {% render controller("FOSUserBundle:Security:login") %}
                          {% endif %}
                     </div>
                  </div>
               </header>
            {% endblock %}
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3">
                        <b>&Agrave; propos...</b>
                        Un chant pour tous est un évènement <b>collectif, gratuit</b> et <b>ouvert à tous</b>, où l'on chante de la musique entièrement improvisée. L'évènement est dirigé (et généralement organisé) par un ou plusieurs <b>animateurs</b> qui décident librement des règles et du déroulement...
                    </div>
                    <div class="span9">
                       {% block main_content %}{% endblock %}
                    </div>
                </div>
            </div>

        <!--footer -->
        <footer>
              {% block footer_content %}
              {% endblock %}        
        </footer>
   
   </body>
</html>