<!DOCTYPE html>
<html>
{#****************************************************************************#}
{# Head
{#****************************************************************************#}
    <head>
        {# Google Font for the site #}
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
            
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
{#****************************************************************************#}
{# Javascript inclusion
{#****************************************************************************#}
        {% javascripts '@CptMainBundle/Resources/public/js/jquery.js'
                        '@CptMainBundle/Resources/public/js/jquery-ui.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% include 'CptPublicationBundle:Comment:comments.js.twig' %}
        <script type="text/javascript">
          var _locale = '{{app.request.locale}}';
        </script>
        {% block javascripts %}
        {% endblock %}
   
            
{#****************************************************************************#}
{# CSS
{#****************************************************************************#}  
        {% stylesheets 
            'bundles/cptmain/css/*' filter='cssrewrite'
             %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
{#****************************************************************************#}
{# Body
{#****************************************************************************#}
    <body>
    {% include 'base.js.twig' %}

          <div id="modal_dialog" title="">
              <div id="modal_dialog_text"></div>
          </div> 
         <div id="debugerrors"></div>
        <!--header -->          
{#****************************************************************************#}
{# Banner
{#****************************************************************************#}
            {% block header %}
                <header>
                <div class="row-fluid top_banner">
                    <div class="span8">
                     </div>
                     <div class="span4">
                         <ul class="banner_icons">
                            <li><a href="#"></a></li>
                            <li><a href="https://www.facebook.com/chantpourtous" target="_blank"></a></li>
                            <li><a href="http://www.youtube.com/user/chantpourtous" target="_blank"></a></li>
                            <li>
                                {# Paypal donate button #}
                                {% if app.request.locale == 'fr' %}                                 {# Paypal donate button => FRENCH (Euro) #}        
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="QRJMJ9GVFNBHA">
                                <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
                                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                                </form>
                                {% else %}
                                {# Paypal donate button => English (US Dollar) #}
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="NDSF7XE4XT84L">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                                </form>
                                {% endif %}
                            </li>
                         </ul>
                     {% if (not is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                        {% render controller("FOSUserBundle:Security:login") %}
                     {% endif %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul class="nav">
                            <li><a href="#">{{ app.user.username|upper }}</a></li>
                            <li><a href="{{ path('sonata_user_profile_show') }}">{{"main.menu.item.profile"|trans}}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    {% endif %}
                     </div>
                  </div>
               </header>
            {% endblock %}

{#****************************************************************************#}
{# Main content
{#****************************************************************************#}
<div class="container-fluid">

            {% block main_content %}{% endblock %}

        <!--footer -->
{#****************************************************************************#}
{# Footer
{#****************************************************************************#}
        <footer>
              {% block footer_content %}
              {% endblock %}        
        </footer>
        </div>

   </body>
</html>