<script type="text/javascript">
    
    function register_callback(response)
    {
        $("#registration_div").html(response);
        
    }

    $(function() {
    {# hide the loader icon #}
      $('#loading_register').hide();
      
        AjaxForm( 'registration_form', null, register_callback);

        $('#register_button').click(function(){
            $('#loading_register').show();
            $('#registration_form').submit();
        });

    });
</script>
    {% form_theme form _self %}

    {% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
        <div class="form_error">
        <ul>
            {% for error in errors %}
                <li>{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    {% endspaceless %}
    {% endblock form_errors %}
    
    <div id="registration_div" class="cpt_page">
        <p>{{'register.explain'|trans}}</p>
        {{ form_start(form, {'action': path('fos_user_registration_register'), '_locale': app.request.locale, 'attr': { 'id': 'registration_form', 'class': 'os_user_registration_register' }, 'method': 'POST' }) }}        
        <h2><span class="cpt_blue">➤&nbsp;&nbsp;</span>{{'register.mandatoryfields'|trans}}</h2>

            {{ form_errors(form) }}
            {{ form_errors(form.email) }}           
            <div  class="input_div">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            {{ form_errors(form.firstname) }}
            <div class="input_div">
                {{ form_label(form.firstname) }}            
                {{ form_widget(form.firstname) }}
            </div>
            {{ form_errors(form.lastname) }}
            <div class="input_div">
                {{ form_label(form.lastname) }}            
                {{ form_widget(form.lastname) }}
            </div>
                {{ form_errors(form.plainPassword) }}
            <div  class="input_div">
                {#{ form_label(eventform.city_name, null, { 'attr': {'class': 'input_label mandatory_field_label'} }) }#}
                {{ form_widget(form.plainPassword) }}
            </div>
                {{ form_errors(form.professional) }}            
                {{ form_label(form.professional) }}            
                {{ form_widget(form.professional) }}
                {{ form_errors(form.country_code) }}            
            <div  class="input_div">
                {{ form_label(form.country_code) }}            
                {{ form_widget(form.country_code) }}
            </div>        
            <div style="text-align:right">
                <button id="register_button" type="button" class="btn_account" >{{ 'registration.submit'|trans({}) }}</button>
            </div>                
                <div id="loading_register" class="loading"></div>
            {{ form(form) }}
        {{ form_end(form) }}
    </div>


