<script type="text/javascript">
    
    function register_callback(response)
    {
        $("#registration_div").html(response);
        
    }

    $(function() {
    {# hide the loader icon #}
      $('#loading_register').hide();
      
        AjaxForm( 'registration_form', null, register_callback);

        $('#register_button').click(function(){
            $('#loading_register').show();
            $('#registration_form').submit();
        });

    });
</script>
    <div id="registration_div" class="cpt_page">
        {{ form_start(form, {'action': path('fos_user_registration_register'), '_locale': app.request.locale, 'attr': { 'id': 'registration_form', 'class': 'os_user_registration_register' }, 'method': 'POST' }) }}
        
        <h2><span class="cpt_blue">➤&nbsp;&nbsp;</span>{{'register.mandatoryfields'|trans}}</h2>

            {{ form_errors(form) }}            
            <div  class="input_div">
                {{ form_label(form.email) }}            
                {{ form_widget(form.email) }}
            </div>
            <div  class="input_div">
                {#{ form_label(eventform.city_name, null, { 'attr': {'class': 'input_label mandatory_field_label'} }) }#}
                {{ form_label(form.username) }}            
                {{ form_widget(form.username) }}
            </div>
            <div  class="input_div">
                {#{ form_label(eventform.city_name, null, { 'attr': {'class': 'input_label mandatory_field_label'} }) }#}
                {{ form_widget(form.plainPassword) }}
            </div>
            <div  class="input_div">
                {{ form_label(form.firstname) }}            
                {{ form_widget(form.firstname) }}
            </div>
            <div  class="input_div">
                {{ form_label(form.country_code) }}            
                {{ form_widget(form.country_code) }}
            </div>        
            <div>
                <button id="register_button" type="button">{{ 'registration.submit'|trans({}) }}</button>
                <div id="loading_register" class="loading"></div>
            </div>
            {{ form(form) }}
        {{ form_end(form) }}
    </div>


