{% set user = registration.user %}
{% set event = registration.event %}
{% block subject %}
{% autoescape false %}
{% if cpt_event_isAuthor(event,user) %}
{{ 'email.subscribeevent.subject.author'|trans({'%eventname%': event.title}) }}
{% elseif cpt_event_isOrganizer(event,user) %}
{{ 'email.subscribeevent.subject.leader'|trans({'%eventname%': event.title}) }}
{% else %}
{{ 'email.subscribeevent.subject.attendee'|trans({'%eventname%': event.title}) }}    
{% endif %}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
    {% autoescape false %}
    <html>        
        <body>
            <div>
                <center><a href="{{url('cpt_main_home')}}">{{ "<img src='attachmenturl[0]'>"|raw }}</a></center>
                {% if cpt_event_isAuthor(event,user) %}
                {{ 'email.subscribeevent.message.header.author'|trans({'%eventname%': event.title, '%username%': user.displayname}) }}
                {% elseif cpt_event_isOrganizer(event,user) %}
                {{ 'email.subscribeevent.message.header.leader'|trans({'%eventname%': event.title, '%username%': user.displayname}) }}        
                {% else %}
                {{ 'email.subscribeevent.message.header.attendee'|trans({'%eventname%': event.title, '%username%': user.displayname}) }}        
                {% endif %}
                {% if registration.numqueuedparticipant > 0 %}
                {{ 'email.subscribeevent.message.allseatsnotconfirmed'|trans }}
                {% endif %}
                <table style="border-style:solid;border-width:1px;">
                    <tr>
                        {# When #}
                        <td>{{ 'email.subscribeevent.message.time'|trans}}</td>
                        <td style="color:#066FB2;font-weight: bold;">
                            {{ include("CptEventBundle:Event:Includes/event_datetime.html.twig") }}
                        </td>
                    </tr>                    
                    <tr>
                        {# where #}
                        <td>{{ 'email.subscribeevent.message.where'|trans}}</td>
                        <td style="color:#066FB2;font-weight: bold;">{{ event.CorporateName}} | {{ event.fulladdress is not empty ?  " " ~ event.fulladdress }}</td>
                    </tr>                    
                    <tr>
                        {# Seats requested #}
                        <td>{{ 'email.subscribeevent.message.seatsrequested'|trans}}</td>
                        <td>{{registration.numparticipant}}</td>
                    </tr>
                    <tr>
                        {# Seats confirmed #}
                        <td>{{ 'email.subscribeevent.message.seatsconfirmed'|trans}}</td>
                        <td style="color:green;font-weight:bold">{{registration.numconfirmed}}</td>
                    </tr>
                    {% if registration.numqueuedparticipant > 0 %}
                    <tr>
                        {# Seats on waiting list #}
                        <td>{{ 'email.subscribeevent.message.seatswaitinglist'|trans}}</td>
                        <td style="color:red;font-weight:bold">{{registration.numqueuedparticipant}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        {# Organized by string  #}
                        <td>{{ 'email.subscribeevent.message.organizedby'|trans}}</td>
                        <td>
                            {{ include("CptEventBundle:Event:Includes/event_organizers.html.twig") }}
                        </td>
                    </tr>
                    <tr>
                        {# event type (chant pour tous or not #}
                        <td>{{ 'email.subscribeevent.message.eventtype'|trans}}</td>
                        <td>
                            {% if event.cptevent %}
                            {{ 'email.subscribeevent.message.cptevent'|trans}}
                            {% else %}
                            {{ 'email.subscribeevent.message.notcptevent'|trans}}    
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        {# description #}
                        <td>{{ 'email.subscribeevent.message.description'|trans}}</td>
                        <td>{{ event.content|raw }}</td>
                    </tr>
                </table>

                {{ 'email.subscribeevent.message.footer.general'|trans }}

            </div>
        </body>
    </html>
    {% endautoescape %}
{% endblock %}
